@charset "UTF-8";

body{
	font-family: Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	text-align:center;
}

button{
	margin-top:300px;
	background:#AB3232;
	color:#FFF;
	border:none;
	padding:15px 40px;
	border-radius:40px;
	font-size:2.5em;
}

button:focus{
	outline:none;
}
.textRed{
	color: #ff0000;
	width: 200px;
}
/* p{
	display: none;
} */
/* div{
	position: absolute;
	left: 0;
	background: #ff0000;
} */